*.log
*.srt
.git
.github
.idea
tmp
models/*.pt
models/models--Systran--faster-whisper-base
dev
venv
dist
source
build
test.py
ffmpeg.exe
ffprobe.exe
ffplay.exe
__pycache__
*.spec
*.ui
*.bak
*.aac
*副本.py
pretrained_models
voice_list.json
elevenlabs.json
/ffmpeg-python-master/
/help_tools/
/gradio-offline-wheel/
/ffmpeg/
/devpi-docker-main/
/logs/
/Matthijs___cmu-arctic-xvectors/
/mBART-50/
/models/
/models--facebook--mbart-large-50-many-to-many-mmt/
/result2/
/result3/
/t5_model/
/t5_small_model/
/tmp/
/tts_ok/
/tts_wheel_packages/
/wheel_packages/
/pyvideotrans-main20240123.zip
/ffmpeg.zip
/ffmpeg.exe
/ffprobe.exe
